<script src="~/Scripts/app/services/products-service.js"></script>
<script src="~/Scripts/app/controllers/product-modal-controller.js"></script>
<script src="~/Scripts/app/controllers/products-controller.js"></script>

<div class="container" ng-controller="products-controller">
    <div class="form-inline table-toolbar">
        <a class="btn btn-sm btn-primary" ng-click="openModal()"><i class="fa fa-plus"></i> დამატება</a>
        <input class="form-control input-sm pull-right" placeholder="ძებნა..." ng-model="filterProducts" />
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>კოდი</th>
                <th>დასახელება</th>
                <th>ერთეულის ფასი</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="p in products | filter: filterProducts">
                <td>{{p.code}}</td>
                <td>{{p.name}}</td>
                <td>{{p.unitPrice | number: 2}}</td>
                <td>
                    <a class="btn btn-xs btn-warning" title="რედაქტირება" ng-click="openModal($index)"><i class="fa fa-pencil"></i></a>
                    <a class="btn btn-xs btn-danger" title="წაშლა" ng-click="deleteProduct(p.id)"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>